{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<main class=" mt-20 flex flex-col items-center justify-center font-Poppins">
    <h1>Créez votre compte</h1>

    {{ form_start(registrationForm) }}
        <div>
            {{ form_row(registrationForm.username, {'label_attr': {'class': 'a'}, 'attr': {'class': 'a'}}, ) }}
        </div>
        <div>
            {{ form_row(registrationForm.password.first, {'label_attr': {'class': 'a'}, 'attr': {'class': 'a'}}, ) }}
        </div>
        <div>
            {{ form_row(registrationForm.password.second, {'label_attr': {'class': 'a'}, 'attr': {'class': 'a'}}, ) }}
        </div>
        <div>
            {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'a'}, 'attr': {'class': 'a'}}, ) }}
        </div>
        <button type="submit" class="btn" >Register</button>
    {{ form_end(registrationForm) }}
</main>
{% endblock %}
