
    {% if app.user %}
        <a class="ml-20 m-5 py-2.5 px-5 bg-vert border-vert border-2 rounded-lg text-white transition duration-300 text-lg hover:bg-transparent hover:text-vert" href="{{ path('app_post_new') }}">Créer un post</a>
    {% endif %}

    {% for post in posts %}
        <article class=" mr-12 mb-12 ml-20 w-11/12  px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <a class=" mx-12" href="{{ path('app_post_show', {'id': post.id}) }}">
                <h3 class="text-xl font-bold">{{post.title}}</h3>
                <p class="my-5">{{post.text}}</p>
                {% if post.image %}
                    <img class="h-52 my-3.5" src="{{ asset('uploads/post_img/' ~ post.image) }}" alt="">
                {% endif %}
                <div class="flex flew-row justify-between">       
                    <p class="text-lg"><span class="text-xs italic">Écrit par : </span>{{ post.user.username }}</p>
                    <p>{{post.createdAt|date('d/m/Y H:i', "Europe/Paris")}}</p>
                </div>
            </a>
            {% if app.user %}
                <div class="w-12 flex flex-row justify-around text-vert mb-5">
                    {% if post.isLiked %}
                        <a href="{{ path('app_post_dislike', {'id': post.id}) }}"><i class="fa-solid fa-heart"></i></a>
                    {% else %}
                        <a href="{{ path('app_post_like', {'id': post.id}) }}"><i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                    <p>{{ post.likes }}</p>
                </div>
            {% endif %}
        </article>
    {% endfor %}