{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<main class="mt-20 font-Poppins flex flex-col justify-center items-center">
    <h1 class="h1 text-vert">Statistiques</h1>
    <div class="grid grid-cols-2 gap-x-10 gap-y-10 text-center justify-center items-center m-12">
        <section class="py-5 w-80 transition duration-300 hover:bg-white hover:border-0 hover:shadow-[0_40px_80px_rgba(49,49,49,.1)] px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <!-- nombre total de post de l'utilisateur -->
            <h2 class="text-2xl font-bold">{{ totalPost|length }}</h2>
            <p>{{ totalPost|length > 1 ? 'Posts' : 'Post' }}</p>
        </section>
        <section class="py-5 w-80 transition duration-300 hover:bg-white hover:border-0 hover:shadow-[0_40px_80px_rgba(49,49,49,.1)] px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <!-- nombre total de likes tous les posts de l'utilisateur -->
            <h2 class="text-2xl font-bold">{{ totalLike|length }}</h2>
            <p>{{ totalLike|length > 1 ? 'Likes' : 'Like' }}</p>
        </section>
        <section class="py-5 w-80 transition duration-300 hover:bg-white hover:border-0 hover:shadow-[0_40px_80px_rgba(49,49,49,.1)] px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <!-- nombre de posts fait depuis 7 jours -->
            <h2 class="text-2xl font-bold">{{ lastWeekPost|length }}</h2>
            <p>{{ lastWeekPost|length > 1 ? 'Posts' : 'Post' }} des <br>7 derniers jours</p>
        </section>
        <section class="py-5 w-80 transition duration-300 hover:bg-white hover:border-0 hover:shadow-[0_40px_80px_rgba(49,49,49,.1)] px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <!-- nombre de likes sur les posts depuis 7 jours -->
            <h2 class="text-2xl font-bold">{{ lastWeekLike|length }}</h2>
            <p>{{ lastWeekLike|length > 1 ? 'Likes' : 'Like' }} des <br>7 derniers jours</p>
        </section>
        <section class="grid-areas py-5 w-80 transition duration-300 hover:bg-white hover:border-0 hover:shadow-[0_40px_80px_rgba(49,49,49,.1)] px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <h2>Les utilisateurs qui postent le plus</h2>
            {% for activeUser in mostActiveUsers %}
                    <div>
                        <p>{{ activeUser.username }} = {{ activeUser.posts|length }}</p>
                    </div>
                {% endfor %}
            <!-- Voir qui sont les utilisateurs qui postent le plus (pie chart…) -->
            <div id="chart_div"></div>
        </section>
        <section class="grid-areas_2 py-5 w-80 transition duration-300 hover:bg-white hover:border-0 hover:shadow-[0_40px_80px_rgba(49,49,49,.1)] px-12 p-5 rounded-lg shadow-[0_0_80px_rgba(0,0,0,.07)]">
            <h2>Likes per weeks</h2>
            <div>
                {% for like in likesPerWeek %}
                    Semaine n°: {{ like.w }},
                    total like sur les posts : {{ like.1 }}
                {% endfor %}
            </div>
            <div id="chart_column_div" style="width: 900px; height: 300px;"></div>
        </section>
    </div>
</main>
{% endblock %}