{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('app_post_new') }}">New</a>
    {% endif %}

    {% for post in posts %}
        <div style="margin-bottom: 1rem">
            <h2>{{post.title}} - n°{{post.id}}</h2>
            <p>{{post.text}}</p>
            {% if post.image %}
                <img src="{{ asset('uploads/post_img/' ~ post.image) }}" alt=""> <br>
            {% endif %}            <small>Author: {{ post.user.username }}</small> <br>
            <small>{{post.createdAt|date('d/m/Y H:i', "Europe/Paris")}}</small>
            {% if app.user == post.user %}
                <a href="{{ path('app_post_remove', {'id': post.id}) }}">Delete</a>
            {% endif %}
            <a href="{{ path('app_post_show', {'id': post.id}) }}">Show</a>
            {% if app.user %}
                <div>
                    {% if post.isLiked %}
                        <a href="{{ path('app_post_dislike', {'id': post.id}) }}">Dislike</a>
                    {% else %}
                        <a href="{{ path('app_post_like', {'id': post.id}) }}">Like</a>
                    {% endif %}
                </div>
                <p>{{ post.likes }} {{ post.likes > 1 ? 'Likes' : 'Like' }}</p>
            {% else %}
                <p>{{ post.likedPosts|length }} {{ post.likedPosts|length > 1 ? 'Likes' : 'Like' }}</p>
                <a href="{{ path('app_post_like', {'id': post.id}) }}">Like</a>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
