{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% if app.user %}
        <a href="{{ path('app_post_new') }}">New</a>
    {% endif %}

    {% for post in posts %}
        <h2>{{post.title}} - n°{{post.id}}</h2>
        <p>{{post.text}}</p>
        <small>Author: {{ post.user.username }}</small> <br>
        <small>{{post.date|date('d/m/Y H:i', "Europe/Paris")}}</small>
        {% if app.user == post.user %}
            <a href="{{ path('app_post_remove', {'id': post.id}) }}">Delete</a>
        {% endif %}
        <a href="{{ path('app_post_show', {'id': post.id}) }}">Show</a>
    {% endfor %}
{% endblock %}
