{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <a href="{{ path('app_post_index') }}">Back</a>

    <h2>{{post.title}} - n°{{post.id}}</h2>
    <p>{{post.text}}</p>
    {% if post.image%}
        <img src="{{ asset('uploads/post_img/' ~ post.image) }}" alt="" /> <br>
    {% endif %}
    <small>Author: {{ post.user.username }}</small> <br>
    <small>{{post.createdAt|date('d/m/Y H:i', "Europe/Paris")}}</small>
    {% if app.user == post.user %}
        <a href="{{ path('app_post_remove', {'id': post.id}) }}">Delete</a>
    {% endif %}


    {% if app.user %}
        <div>
            {% if post.isLiked %}
                <a href="{{ path('app_post_dislike', {'id': post.id}) }}">Dislike</a>
            {% else %}
                <a href="{{ path('app_post_like', {'id': post.id}) }}">Like</a>
            {% endif %}
        </div>
        <p>{{ post.likes }} {{ post.likes > 1 ? 'Likes' : 'Like' }}</p>
    {% else %}
        <p>{{ post.likedPosts|length }} {{ post.likedPosts|length > 1 ? 'Likes' : 'Like' }}</p>
        <a href="{{ path('app_post_like', {'id': post.id}) }}">Like</a>
    {% endif %}

    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Send">
        {{ form_end(form) }}
    {% endif %}

    <h3>Comments • {{ comments|length }}</h3>
    {% if comments is empty %}
        No comment found...
    {% endif %}
    {% for comment in comments %}
        <div>
            <p>{{ comment.text }}</p>
            <small>Author: {{ comment.user.username }}</small><br>
            <small>{{ comment.createdAt|date('d/m/y H:i', "Europe/Paris") }}</small>
            {% if app.user == comment.user %}
                <a href="{{ path('app_comment_remove', {'id': comment.id, 'post': post.id}) }}">Delete</a>
            {% endif %}

            {% if app.user %}
                <div>
                    {% if comment.isLiked %}
                        <a href="{{ path('app_comment_dislike', {'id': comment.id}) }}">Dislike</a>
                    {% else %}
                        <a href="{{ path('app_comment_like', {'id': comment.id}) }}">Like</a>
                    {% endif %}
                </div>
                <p>{{ comment.likes }} {{ comment.likes > 1 ? 'Likes' : 'Like' }}</p>
            {% else %}
                <p>{{ comment.likedPosts|length }} {{ comment.likedPosts|length > 1 ? 'Likes' : 'Like' }}</p>
                <a href="{{ path('app_comment_like', {'id': comment.id}) }}">Like</a>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
