{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <a href="{{ path('app_post_index') }}">Back</a>

    <h2>{{post.title}} - n°{{post.id}}</h2>
    <p>{{post.text}}</p>
    <small>Author: {{ post.user.username }}</small> <br>
    <small>{{post.date|date('d/m/Y H:i', "Europe/Paris")}}</small>
    {% if app.user == post.user %}
        <a href="{{ path('app_post_remove', {'id': post.id}) }}">Delete</a>
    {% endif %}

    {% if app.user %}
        <p>{{ post.likes }} {{ post.likes > 1 ? 'Likes' : 'Like' }}</p>

        <div>
            {% if post.isLiked %}
                <a href="{{ path('app_post_dislike', {'id': post.id}) }}">Dislike</a>
            {% else %}
                <a href="{{ path('app_post_like', {'id': post.id}) }}">Like</a>
            {% endif %}
        </div>
    {% else %}
        <p>{{ post.likedPosts|length }} {{ post.likedPosts|length > 1 ? 'Likes' : 'Like' }}</p>
    {% endif %}

    {% if app.user %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Send">
        {{ form_end(form) }}
    {% endif %}

    <h3>Comments • {{ post.comments|length }}</h3>
    {% if post.comments is empty %}
        No comment found...
    {% endif %}
    {% for comment in post.comments %}
        <div>
            <p>{{ comment.text }}</p>
            <small>Author: {{ comment.user.username }}</small><br>
            <small>{{ comment.date|date('d/m/y H:i', "Europe/Paris") }}</small>
            {% if app.user == comment.user %}
                <a href="{{ path('app_comment_remove', {'id': comment.id, 'post': comment.post.id}) }}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
