{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<main class=" mt-20 flex flex-col items-center justify-center font-Poppins">
    <h1 class="h1 text-vert">Changez votre mot de passe</h1>
    {{ form_start(form, {'attr': {'class': 'flex flex-col items-center justify-center p-7'}}) }}
        <div class="flex flex-col m-4 w-80">
            {{ form_label(form.oldPassword) }}
            {{ form_errors(form.oldPassword) }}
            {{ form_widget(form.oldPassword, {'label_attr': {'class': 'mb-2'}, 'attr': {'class': 'py-2.5 px-5 bg-gris_input text-gris_text border-gris_input rounded-lg'}}, ) }}
        </div>
        <div class="flex flex-col m-4 w-80">
            {{ form_label(form.password.first) }}
            {{ form_errors(form.password.first) }}
            {{ form_widget(form.password.first, {'label_attr': {'class': 'mb-2'}, 'attr': {'class': 'py-2.5 px-5 bg-gris_input text-gris_text border-gris_input rounded-lg'}}, ) }}
        </div>
        <div class="flex flex-col m-4 w-80">
            {{ form_label(form.password.second) }}
            {{ form_errors(form.password.second) }}
            {{ form_widget(form.password.second, {'label_attr': {'class': 'mb-2'}, 'attr': {'class': 'py-2.5 px-5 bg-gris_input text-gris_text border-gris_input rounded-lg'}}, ) }}
        </div>
        <button class="m-5 py-2.5 px-5 bg-vert border-vert border-2 rounded-lg text-white transition duration-300 text-lg hover:bg-transparent hover:text-vert" type="submit">Changer mot de passe</button>
    {{ form_end(form) }}
</main>
{% endblock %}
