{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ user.username }} <br>

    {{ form_start(form) }}
        {{ form_label(form.oldPassword) }}
        {{ form_errors(form.oldPassword) }}
        {{ form_widget(form.oldPassword) }}

        {{ form_label(form.password.first) }}
        {{ form_errors(form.password.first) }}
        {{ form_widget(form.password.first) }}

        {{ form_label(form.password.second) }}
        {{ form_errors(form.password.second) }}
        {{ form_widget(form.password.second) }}
        <button type="submit">Changer mot de passe</button>
    {{ form_end(form) }}
{% endblock %}
