{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<main class="mt-20 flex flex-col items-center justify-center font-Poppins">
    <h1 class="h1 text-vert">Votre compte</h1>
    <section class="m-12 flex flex-col items-center justify-center bg-gris_input p-7 rounded-xl  w-1/2">
        <div class="flex flex-row-reverse items-end p-7 relative">
            {% if user.avatar %}
                <img class="bg-white rounded-full h-32 w-32" src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.username }} avatar">
            {% endif %}
            {% if app.user == user %}
                <a class=" text-xl bg-vert p-2 rounded-full h-10 w-10 pb-2.5 text-center margin_negative absolute" href="{{ path('app_user_edit', {'id': user.id }) }}"><i class="fa-solid fa-camera"></i></a>
            {% endif %}
        </div>
        <div class="flex flex-row p-7 justify-around w-full">
            <div class="flex flex-col p-7">
                <h3 class="text-xl font-bold">Pseudo</h3>
                <p>{{ user.username }}</p>
            </div>
            <div class="flex flex-col p-7">
                <h3 class="text-xl font-bold">Email</h3>
                <p>{{ user.email }}</h2>
            </div>
        </div>
        <div class="flex flex-col items-center p-7">
            <h3 class="text-xl font-bold">Mot de passe</h3>
            {% if app.user == user %}
                <a class="text-vert transition duration-300 hover:underline decoration-2" href="{{ path('app_user_password', {'id': user.id }) }}">Changer de mot de passe</a>
            {% endif %}
        </div>
        <a class="m-4 px-5 py-2.5 bg-vert border-vert border-2 rounded-lg  text-white transition duration-300 text-md hover:bg-transparent hover:text-vert" href="{{path('app_user_stats', {'id': app.user.id })}}">Accéder à mes statistiques</a>
    </section>
</main>
{% endblock %}
