{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {% if user.avatar %}
        <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.username }} avatar"> <br>
    {% endif %}

    <div>
        Pseudo : {{ user.username }}
    </div>
    <div>
        Email : {{ user.email }}
    </div>

    {% if app.user == user %}
        <a href="{{ path('app_user_edit', {'id': user.id }) }}">Changer photo de profil</a> <br>
    {% endif %}
    {% if app.user == user %}
        <a href="{{ path('app_user_password', {'id': user.id }) }}">Changer de mot de passe</a>
    {% endif %}
{% endblock %}
