{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    {{ user.username }} <br>
    {% if user.avatar %}
        <img src="{{ asset('uploads/avatars/' ~ user.avatar) }}" alt="{{ user.username }} avatar"> <br>
    {% endif %}
    {% if app.user == user %}
        <a href="{{ path('app_user_edit', {'id': user.id }) }}">Edit profile picture</a>
    {% endif %}

    <h2>Stats</h2>
    {{ totalPost|length }} {{ totalPost|length > 1 ? 'posts' : 'post' }} <br>
    {{ totalLike|length }} {{ totalLike|length > 1 ? 'likes' : 'like' }} <br>
    {{ lastWeekPost|length }} writed {{ lastWeekPost|length > 1 ? 'posts' : 'post' }} last 7 days <br>
    {{ lastWeekLike|length }} liked {{ lastWeekLike|length > 1 ? 'posts' : 'post' }} last 7 days

    <h2>Most Active Users</h2>
    {% for activeUser in mostActiveUsers %}
        <div>
            <p>{{ activeUser.username }} = {{ activeUser.posts|length }}</p>
        </div>
    {% endfor %}
{% endblock %}
